{% liquid
  assign breadcrumb_collection = collection

  if breadcrumb_collection == blank
    assign primary_collection = product.metafields.custom.primary_collection.value
    if primary_collection != blank
      assign breadcrumb_collection = primary_collection
    endif
  endif

  if breadcrumb_collection == blank
    for item_collection in product.collections
        assign breadcrumb_collection = item_collection
        break
    endfor
  endif
%}    
{% if template == 'collection' or template contains 'product' %}
<div class="breadcrumb-section section section--page-width">
    <nav class="breadcrumb">
        <a href="{{ routes.root_url }}">Home</a>
        <span>/</span>   
        {% if template == 'collection' %}
            <a href="{{ collection.url }}">{{ collection.title }}</a>  
        {%  endif %}
        {% if template contains 'product' %}
        {% if breadcrumb_collection != blank %}
            <a href="{{ breadcrumb_collection.url }}">{{ breadcrumb_collection.title }}</a>   
            <span>/</span>     
        {% endif %}        
        <span>{{ product.title }}</span>
        {% endif %}
    </nav>
</div>
{% endif %}

{%  if template == 'collection' %}
    
{%  endif %}

{% schema %}
{
  "name": "Breadcrumb",
  "class": "section-breadcrumb",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
      ],
  "presets": [
    {
      "name": "Breadcrumb"
    }
  ]
}
{% endschema %}